{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "one-var": ["error", { "var": "never", "let": "never", "const": "never" }],
    "strict": 0
  },
  "env": {
    "jest": true,
    "node": true
  }
}